@{
    ViewBag.Title = "Aula 04";
}

<h1>Aula04</h1>


<ul>
    <li>
        Utilizando um seletor do tipo "Classe".
    </li>
</ul>

<p class="destaque">
    Aenean congue lacinia tortor, sed fringilla nunc facilisis ac. Mauris in porta diam. Nullam a hendrerit diam, id luctus nisi.
    Mauris vestibulum sit amet lorem sit amet volutpat. Praesent eu neque placerat, consequat sapien blandit, mollis lorem.
    Sed vitae mi quis ex sollicitudin tincidunt. Sed augue ipsum, suscipit aliquet tellus sit amet, facilisis pellentesque ligula.
    Nunc porttitor, lacus eget accumsan pharetra, leo mauris convallis leo, vitae mollis turpis augue ut mauris.
    Cras sed nibh id turpis sollicitudin elementum.
    Donec vitae felis vel massa ullamcorper convallis sed vitae ex. Morbi maximus, metus et vulputate interdum, dolor enim lobortis ipsum,
    sed mollis turpis metus a felis.
</p>

<ul>
    <li>
        Utilizando um seletor do tipo "Id".
    </li>
</ul>

<p id="introducao">
    Vestibulum tellus orci, ultricies nec maximus ut, imperdiet ac ipsum. Aenean in euismod risus.
    Curabitur eget justo malesuada, vestibulum mi ut, hendrerit lacus. Mauris sagittis, elit ut pretium commodo, metus massa dignissim leo,
    in semper purus mi et ligula. Suspendisse dictum auctor posuere. Etiam ut rhoncus nisl, et bibendum sapien. Suspendisse vitae venenatis neque.
    Integer eu metus faucibus, rhoncus sem vel, tincidunt arcu. Morbi interdum hendrerit leo, et tristique risus varius eu.
    Duis non ipsum id erat placerat facilisis in sit amet lacus. Sed placerat vitae risus in luctus.
    Nullam vel nibh at libero venenatis ullamcorper nec rhoncus odio. Ut odio eros, tristique non justo et, aliquam iaculis urna.
    Donec eget tempor massa. Maecenas urna ipsum, congue at elit ac, varius dignissim magna. Etiam vulputate odio nec ipsum pharetra blandit.
</p>

<ul>
    <li>
        Utilizando um seletor do tipo "Elemento".
    </li>
</ul>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent efficitur mauris auctor urna sollicitudin ornare.
    Proin convallis magna vehicula <em title="empresa">Faucibus Fringilla</em>. Nam ac turpis rhoncus, sollicitudin sapien vitae, blandit metus.
    Donec id molestie ipsum. Aenean vel enim ut orci laoreet interdum. Aliquam metus lacus, ultricies eget sem sit amet, malesuada dignissim mi.
    Vivamus eget mauris velit. Mauris sagittis tempor tristique. Aliquam in convallis sapien. Ut dictum neque vitae ullamcorper tempor.
    Sed rutrum tempus dui a laoreet. Curabitur et lorem non ligula faucibus interdum id semper urna. Sed at nulla ut mauris sodales molestie.
    In nec pretium nibh. Aliquam quis nulla semper, maximus dui ut, eleifend diam.
</p>