
@{
    ViewBag.Title = "Curso CSS";
}


<h1>Aula 02</h1>
<p>
    Segundo a Caixa, o ganhador tinha muitos volantes de apostas simples para registrar e acredita que deve ter registrado a mesma aposta mais
    de uma vez sem perceber. Ele participava de um bolão informal com os amigos, e afirma que irá dividir o prêmio.
</p>

<p>
    As apostas foram feitas com uma diferença de poucos minutos, todas no guichê preferencial. O pagamento do prêmio está em processo de
    validação interna da Caixa, informou o banco. Como cada prêmio vale R$ 18.042.279,04, o homem levará cerca de R$54 milhões.
</p>
